<h2>Hello Entry</h2>

<h3>{{title | truncate}}</h3>
<h4> {{empObj |json}}</h4>
<h5> {{empObj.name}}</h5>
<h4>Today : {{testdt | date:'medium'}}</h4>

<button (click)="testFunc()">Click Me</button>
<input (keyup)="testFunc()">
<hr>
<input placeholder="Hello"  [(ngModel)]="title">
<br>
<br>
<input placeholder="User"  [(ngModel)]="userObj.id">
<input placeholder="User"  [(ngModel)]="userObj.name">
<input placeholder="User"  [(ngModel)]="userObj.email">

<ng-container *ngIf="showUser">
  <app-user [user]="userObj" (userEvent)="handleEvent($event)"></app-user>
</ng-container>

<ul *ngFor="let items of (posts | async); let i = index">
  <li>Id :{{i}}</li>
  <li>Title : {{items.title}}</li>
</ul>


